<div class="steps-container1 thq-section-padding">
  <div class="steps-max-width thq-section-max-width">
    <div class="steps-container2 thq-grid-2">
      <div class="steps-section-header">
        <h2 class="thq-heading-2">Discover the Power of Our Products</h2>
        <p class="thq-body-large">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <div class="steps-actions">
          <button class="thq-button-animated thq-button-filled steps-button">
            <span class="thq-body-small">Main action</span>
          </button>
        </div>
      </div>
      <div class="steps-container3">
        <div class="steps-container4 thq-card">
          <h2 class="thq-heading-2">{{ step1Title }}</h2>
          <span class="steps-text14 thq-body-small">
            {{ step1Description }}
          </span>
          <label class="steps-text15 thq-heading-3">01</label>
        </div>
        <div class="steps-container5 thq-card">
          <h2 class="thq-heading-2">{{ step2Title }}</h2>
          <span class="steps-text17 thq-body-small">
            {{ step2Description }}
          </span>
          <label class="steps-text18 thq-heading-3">02</label>
        </div>
        <div class="steps-container6 thq-card">
          <h2 class="thq-heading-2">{{ step3Title }}</h2>
          <span class="steps-text20 thq-body-small">
            {{ step3Description }}
          </span>
          <label class="steps-text21 thq-heading-3">03</label>
        </div>
        <div class="steps-container7 thq-card">
          <h2 class="thq-heading-2">{{ step4Title }}</h2>
          <span class="steps-text23 thq-body-small">
            {{ step4Description }}
          </span>
          <label class="steps-text24 thq-heading-3">04</label>
        </div>
      </div>
    </div>
  </div>
</div>
