<div class="thq-section-padding">
  <div class="testimonial-max-width thq-section-max-width">
    <div class="testimonial-container10">
      <h2 class="thq-heading-2">{{ heading1 }}</h2>
      <span class="testimonial-text11 thq-body-small">{{ content1 }}</span>
    </div>
    <div class="thq-grid-2">
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card1">
            <div class="testimonial-container12">
              <img
                [attr.alt]="author1Alt"
                [attr.src]="author1Src"
                class="testimonial-image1"
              />
              <div class="testimonial-container13">
                <strong class="thq-body-large">{{ author1Name }}</strong>
                <span class="thq-body-small">{{ author1Position }}</span>
              </div>
            </div>
            <span class="testimonial-text14 thq-body-small">{{ review1 }}</span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card2">
            <div class="testimonial-container14">
              <img
                [attr.alt]="author2Alt"
                [attr.src]="author2Src"
                class="testimonial-image2"
              />
              <div class="testimonial-container15">
                <strong class="thq-body-large">{{ author2Name }}</strong>
                <span class="thq-body-small">{{ author2Position }}</span>
              </div>
            </div>
            <span class="testimonial-text17 thq-body-small">{{ review2 }}</span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card3">
            <div class="testimonial-container16">
              <img
                [attr.alt]="author3Alt"
                [attr.src]="author3Src"
                class="testimonial-image3"
              />
              <div class="testimonial-container17">
                <strong class="thq-body-large">{{ author3Name }}</strong>
                <span class="thq-body-small">{{ author3Position }}</span>
              </div>
            </div>
            <span class="testimonial-text20 thq-body-small">{{ review3 }}</span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial-card4">
            <div class="testimonial-container18">
              <img
                [attr.alt]="author4Alt"
                [attr.src]="author4Src"
                class="testimonial-image4"
              />
              <div class="testimonial-container19">
                <strong class="thq-body-large">{{ author4Name }}</strong>
                <span class="thq-body-small">{{ author4Position }}</span>
              </div>
            </div>
            <span class="testimonial-text23 thq-body-small">{{ review4 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
