<div class="thq-section-padding">
  <div class="features2-container2 thq-section-max-width">
    <div class="features2-tabs-menu">
      <div (click)="activeTab = 0" class="features2-tab-horizontal1">
        <div class="features2-divider-container1">
          <div *ngIf="activeTab === 0" class="features2-container3"></div>
        </div>
        <div class="features2-content1">
          <h2 class="thq-heading-2">{{ feature1Title }}</h2>
          <span class="thq-body-small">{{ feature1Description }}</span>
        </div>
      </div>
      <div (click)="activeTab = 1" class="features2-tab-horizontal2">
        <div class="features2-divider-container2">
          <div *ngIf="activeTab === 1" class="features2-container4"></div>
        </div>
        <div class="features2-content2">
          <h2 class="thq-heading-2">{{ feature2Title }}</h2>
          <span class="thq-body-small">{{ feature2Description }}</span>
        </div>
      </div>
      <div (click)="activeTab = 2" class="features2-tab-horizontal3">
        <div class="features2-divider-container3">
          <div *ngIf="activeTab === 2" class="features2-container5"></div>
        </div>
        <div class="features2-content3">
          <h2 class="thq-heading-2">{{ feature3Title }}</h2>
          <span class="thq-body-small">{{ feature3Description }}</span>
        </div>
      </div>
    </div>
    <div class="features2-image-container">
      <img
        [attr.alt]="feature1ImgAlt"
        [attr.src]="feature1ImgSrc"
        *ngIf="activeTab === 0"
        class="features2-image1 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="feature2ImgAlt"
        [attr.src]="feature2ImgSrc"
        *ngIf="activeTab === 1"
        class="features2-image2 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="feature3ImgAlt"
        [attr.src]="feature3ImgSrc"
        *ngIf="activeTab === 2"
        class="features2-image3 thq-img-ratio-16-9"
      />
    </div>
  </div>
</div>
